* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*black*/
  --dark-bg: #060809;
  --dark-flyer: #1b1c20;
  --dark-txt: #1b1c20;
  --dark-title: #1b1c20;
  --dark-button: #0f0f14;

  /*white*/
  --light-bg: #faf8f5;
  --light-flyer: #ffffff;
  --light-txt: #ffffff;
  --light-content: #f9f5ff;

  /*gray*/
  --gray-marcas: #6b7280;
  --gray-copyright: #797b89;
  --gray-text: #797b89;
  --gray-text-flyer: #383a47;

  /*purple*/
  --purple-title: #712fff;
  --purple-title-flyer: #712fff;
  --purple-text: #6941c6;
}

section {
  background-color: var(--light-bg);
}

section #page-2 {
  background-color: var(--light-txt);
}

section .flyer {
  background-color: var(--light-flyer);
}

li,
a,
button {
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--dark-txt);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 30px 10%;
}

.nav-container {
  display: fixed;
}

.logo {
  cursor: pointer;
  margin: 0;
  height: 50px;
}

.nav-bar {
  list-style: none;
  justify-content: start;
}

.nav-bar li {
  padding: 0px 20px;
  margin-top: 28px;
  float: right;
  align-items: center;
}

.nav-bar li a {
  transition: all 0.3s ease 0s;
  font-weight: bold;
}

button {
  padding: 9px 25px;
  background-color: var(--dark-button);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.log-sig {
  margin-bottom: 82px;
}

.login {
  border: none;
  background-color: transparent;
  color: var(--dark-txt);
  font-weight: bold;
}

.register {
  color: var(--light-txt);
}

.page-1-container {
  width: 265px;
  display: flex;
  align-items: baseline;
  color: var(--purple-text);
  background: var(--light-content);
  margin-top: 191px;
  margin-left: 112px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.badage-box {
  width: 265px;
  align-items: center;
  color: var(--purple-text);
  border-radius: 50%;
}

.badage {
  display: inline-block;
  padding: 10px;
  height: 20px;
  width: 55px;
  background-color: var(--light-flyer);
}

.badage p {
  height: 35px;
  height: 20px;
  color: var(--purple-text);
  margin-bottom: 25px;
}

.content {
  display: inline-table;
  border-radius: 50px;
  padding: 10px;
}

.card-home {
  float: right;
  margin-right: 112px;
}

.text-home-container {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-right: 2px;
}

.text-home {
  font-size: 45px;
  width: 489px;
  height: 177px;
  display: table;
  margin-bottom: 24px;
}

.text-home:first-child {
  margin-left: 112px;
}

.p-text-home {
  margin-top: 24px;
  margin-bottom: 32px;
  margin-left: 110px;
  color: var(--gray-text-flyer);
  font-size: 20px;
}

.store {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 160px;
}

.store:first-child {
  margin-left: 112px;
}

.footer-nav-container {
  display: flex;
  justify-content: space-between;
  padding: 30px 10%;
  align-items: center;
  margin-bottom: 57px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.footer-p {
  font-size: 15px;
}

.footer-bar-1 {
  list-style: none;
  justify-content: center;
  margin-right: 170px;
}

.footer-bar-1 li {
  display: inline-block;
  padding: 0px 20px;
}

.text-footer-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Satoshi" sans-serif;
  padding-left: 0.9px;
  size: 15px;
  color: var(--gray-text);
}

.second-home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.txt-home-2 {
  margin-top: 40px;
  font-size: 30px;
}

.container-pg2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.aside-page-2 {
  display: flex;
  justify-content: center;

  box-shadow: rgba(68, 55, 0, 0.01);
  grid-column: 3;
}

.block {
  border: 5px solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-right: 80px;
  padding-bottom: 60px;
}

.title-page-2 {
  size: 25px;
  margin-right: 107px;
  margin-top: 40px;
  margin-left: 100px;
  line-height: 58.05px;
}

.texto-page-2 {
  size: 16px;
  margin-right: 66px;
  margin-left: 66px;
}

.texto-page-2-1 {
  size: 16px;
  margin-right: 60px;
  margin-bottom: 85px;
  margin-left: 90px;
}

.dinheiro {
  margin-right: 54px;
  margin-left: 54px;
  margin-top: 40px;
}

.pg-2-container-left {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column: span 2;
  grid-row: 1;
  justify-items: center;
  align-items: center;
  grid-row-gap: 28px;
  margin: 0 57px;
}

.prod {
  display: block;
  align-items: center;
  width: 408.05px;
  height: 316.3px;
  border: 5px solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.title-p1 {
  margin-left: 130px;
  margin-right: 1340x;
  margin-top: 40px;
  font-size: 24px;
  line-height: 32.18px;
}

.text-p1 {
  margin-left: 63px;
  margin-right: 63px;
  margin-top: 21px;
  margin-bottom: 4px;
  font-size: 16px;
}

.imagem-p1 {
  margin-left: 137px;
  margin-right: 137px;
  margin-bottom: 7px;
}

.title-p2 {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 40px;
  font-size: 25px;
  line-height: 33.52px;
}

.imagem-p2 {
  margin-top: 28px;
  margin-bottom: 28px;
  margin-right: 152px;
  margin-left: 152px;
}

.text-p2 {
  margin-left: 54px;
  margin-right: 54px;
}

.title-p3 {
  margin-top: 40px;
  margin-left: 108px;
  margin-right: 108px;
  font-size: 24px;
  margin-bottom: 8px;
}

.imagem-p3 {
  margin-left: 156px;
  margin-right: 148px;
}

.nav2-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
  margin-top: 48px;
}

.footer-bar {
  list-style: none;
  justify-content: center;
}

.footer-bar li {
  display: inline-block;
  padding: 0px 20px;
}

/*classes de utilidade*/

.purple-text {
  color: var(--purple-text);
}

.gray-text {
  color: var(--gray-text);
}

.align-center {
  justify-content: center;
}

.purple-flyer {
  color: var(--purple-title-flyer);
}

.space-bottom {
  margin-bottom: 22px;
}