* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*black*/
  --dark-bg: #060809;
  --dark-flyer: #1b1c20;
  --dark-txt: #1b1c20;
  --dark-title: #1b1c20;
  --dark-button: #0f0f14;

  /*white*/
  --light-bg: #faf8f5;
  --light-flyer: #ffffff;
  --light-txt: #ffffff;
  --light-content: #f9f5ff;
  --light-p-home: #e7e7e7
    /*gray*/
    --gray-marcas: #6b7280;
  --gray-copyright: #797b89;
  --gray-text: #797b89;
  --gray-text-flyer: #383a47;

  /*purple*/
  --purple-title: #712fff;
  --purple-title-flyer: #712fff;
  --purple-text: #6941c6;
}

@media screen and (min-width: 320px) {

  body {
    margin: 0;
    padding: 0;
  }

  .pg-1 {
    background-color: var(--light-bg);
    width: 375px;
    height: 1115px;
    position: absolute;

  }


  li,
  a,
  button,
  h1,
  h2 {
    font-family: "Satoshi", sans-serif;

    text-decoration: none;
  }

  p {
    font-family: "Satoshi", sans-serif;
  }

  header {
    width: 375px;
    justify-content: space-between;
    align-items: baseline;
    top: 0;
    position: absolute;
    overflow: hidden;
    background-color: var(--light-bg);
    padding: 9px 0;
    padding-top: 30px;
    z-index: 100;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
  }

  .pg-1-1 {
    padding-top: 104px;
  }

  #logo {
    cursor: pointer;
    margin-left: 20px;

  }

  .nav-bar li,
  .login,
  .register {
    display: none;
  }

  .menu-mobile {
    display: inline-block;
    margin-left: 120px;
  }

  .badage-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 10px 4px 4px;


    width: 265px;
    height: 32px;

    /* Primary/50 */

    background: #F9F5FF;
    mix-blend-mode: multiply;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .text-home {
    width: 335px;
    height: 129px;

    position: relative;

    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    letter-spacing: -0.02em;

    /* Alert/Content/Header */

    color: #1B1C20;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  .p-text-home {
    width: 335px;
    height: 60px;

    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */

    margin-top: 16px;
    margin-bottom: 32px;

    /* Alert/Content/Body */

    color: #383A47;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    position: relative;
  }

  .apple {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;

    width: 304.73px;
    height: 50px;

    position: absolute;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .store {
    box-sizing: border-box;

    position: absolute;
    width: 142px;
    height: 49.74px;
    left: 0px;
    top: 0.13px;

    /* Content/ Neutral */

    background: #FFFFFF;
    /* Content/Header */

    border: 0.5px solid #1B1C20;
    border-radius: 10px;
  }

  .play-store {
    box-sizing: border-box;

    position: absolute;
    width: 142.73px;
    height: 50px;
    left: 162px;
    top: 0px;

    /* Content/ Neutral */

    background: #FFFFFF;
    /* Content/Header */

    border: 0.5px solid #1B1C20;
    border-radius: 10px;
  }

  .card-home {
    margin-top: 70px;
    position: relative;
    width: 335px;
    height: 336.53px;
    margin-bottom: 70px;
  }

  .btn-dark-mode {
    width: 25px;
    height: 25px;
    display: block;
    align-items: center;
    background-repeat: no-repeat;
    position: fixed;
  }

  .btn-dark-mode img {
    width: 20px;
    height: 20px;
  }

  .new {
    width: 55px;
    height: 24px;
    border-radius: 16px;
  }

  .badage {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
  }

  .text-home-container {

    position: relative;
  }


  .footer-text-1 {


    width: 270px;
    height: 28px;

    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    /* identical to box height, or 181% */

    display: flex;
    align-items: center;
    letter-spacing: -0.09px;

    /* Alert/Content/Text 3 */

    color: #797B89;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .footer-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 335px;
    height: 112px;

    background: #FAF8F5;

    /* Inside auto layout */

    flex-wrap: wrap;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

    position: relative;
  }

  .footer-bar-1 {

    margin-left: 10px;
  }

  .pg-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px 0px;
    gap: 64px;

    position: absolute;
    width: 375px;
    height: 3304.68px;
    left: 0px;
    top: 1115px;

    background: #FFFFFF;
  }

  .second-home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row-gap: 52px;
    position: relative;
  }

  .title-home-2 {
    /* Flex Your Digital Wealth with Cadena */
    margin-bottom: 52px;
    text-align: end;

    width: 708.64px;
    height: 32px;

    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -1.824px;

    /* Alert/Content/Header */

    color: #1B1C20;


    /* Inside auto layout */
    position: relative;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .container-pg2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin-left: 185px;



    text-align: center;

    width: 335px;
    height: 1951.68px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;


  }

  .aside-page-2 {
    display: flex;
    justify-content: center;

    box-shadow: rgba(68, 55, 0, 0.01);
    grid-column: 3;
  }

  .block {


    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 39.7282px 65.5516px;
    gap: 85.42px;

    width: 335px;
    height: 574.72px;

    background: #FFFFFF;
    box-shadow: 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01),
      0px 99.3206px 174.804px rgba(68, 55, 0, 0.02),
      0px 45.6875px 80.4497px rgba(68, 55, 0, 0.01),
      0px 25.8233px 45.6875px rgba(68, 55, 0, 0.01),
      0px 15.8913px 27.8098px rgba(68, 55, 0, 0.01),
      0px 8.93885px 16.8845px rgba(68, 55, 0, 0.01),
      0px 5.95923px 8.93885px rgba(68, 55, 0, 0.01),
      0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01);
    border-radius: 23.8369px;



    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  .title-page-2 {
    size: 25px;
    margin-right: 107px;
    margin-top: 40px;
    margin-left: 100px;
    line-height: 58.05px;
  }

  .texto-page-2 {
    size: 16px;
    text-align: center;
  }

  .texto-page-2-1 {
    size: 16px;
    text-align: center;
    margin-bottom: 85px;

  }

  .dinheiro {
    width: 300px;
    height: 300px;

    position: relative;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }


  .prod {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 60px;
    margin-bottom: 20px;
  }

  .pr-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 39.7282px 65.5516px 20px;
    margin-bottom: 29px;

    width: 335px;
    height: 316.3px;

    background: #FFFFFF;


    box-shadow: 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01),
      0px 99.3206px 174.804px rgba(68, 55, 0, 0.02),
      0px 45.6875px 80.4497px rgba(68, 55, 0, 0.01),
      0px 25.8233px 45.6875px rgba(68, 55, 0, 0.01),
      0px 15.8913px 27.8098px rgba(68, 55, 0, 0.01),
      0px 8.93885px 16.8845px rgba(68, 55, 0, 0.01),
      0px 5.95923px 8.93885px rgba(68, 55, 0, 0.01),
      0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01);
    border-radius: 23.8369px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .title-pg-2-small {
    /* Versatile Use */
    text-align: center;

    width: 133px;
    height: 32px;

    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 23.8369px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #712FFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .text-pg-2 {
    width: 276.95px;
    height: 81px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15.8913px;
    line-height: 27px;
    /* or 170% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.0893885px;

    /* Content/Text 3 */

    color: #797B89;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .imagem-p1 {
    width: 102.32px;
    height: 101px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .pr-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 39.7282px 69.5244px;
    gap: 16.39px;

    width: 335px;
    height: 315.61px;

    border-radius: 23.8369px;
    box-shadow: 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01), 0px 99.3206px 174.804px rgba(68, 55, 0, 0.02), 0px 45.6875px 80.4497px rgba(68, 55, 0, 0.01), 0px 25.8233px 45.6875px rgba(68, 55, 0, 0.01), 0px 15.8913px 27.8098px rgba(68, 55, 0, 0.01), 0px 8.93885px 16.8845px rgba(68, 55, 0, 0.01), 0px 5.95923px 8.93885px rgba(68, 55, 0, 0.01), 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01);

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  .imagem-p2 {
    width: 103.24px;
    height: 65.55px;




    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .pr-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 39.7282px 65.5516px 20px;
    gap: 31.29px;

    width: 335px;
    height: 316.3px;

    background: #FFFFFF;
    box-shadow: 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01), 0px 99.3206px 174.804px rgba(68, 55, 0, 0.02), 0px 45.6875px 80.4497px rgba(68, 55, 0, 0.01), 0px 25.8233px 45.6875px rgba(68, 55, 0, 0.01), 0px 15.8913px 27.8098px rgba(68, 55, 0, 0.01), 0px 8.93885px 16.8845px rgba(68, 55, 0, 0.01), 0px 5.95923px 8.93885px rgba(68, 55, 0, 0.01), 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01);
    border-radius: 23.8369px;


    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .imagem-p3 {
    width: 78.45px;
    height: 85px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .pr-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 39.7282px 69.5244px;
    gap: 16.39px;

    width: 335px;
    height: 315.61px;

    border-radius: 23.8369px;
    box-shadow: 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01), 0px 99.3206px 174.804px rgba(68, 55, 0, 0.02), 0px 45.6875px 80.4497px rgba(68, 55, 0, 0.01), 0px 25.8233px 45.6875px rgba(68, 55, 0, 0.01), 0px 15.8913px 27.8098px rgba(68, 55, 0, 0.01), 0px 8.93885px 16.8845px rgba(68, 55, 0, 0.01), 0px 5.95923px 8.93885px rgba(68, 55, 0, 0.01), 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01);

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  .imagem-p4 {
    width: 173.81px;
    height: 90.38px;

    border-radius: 19.8641px;

    margin-right: 90px;

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .title-pg-2-small {
    text-align: center;
    font-size: 24px;
    margin-top: 40px;
  }

  .title-pg2-med {
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
    line-height: 33.52px;
  }

  .text-pg-2 {
    text-align: center;
    font-size: 16px;
    line-height: 27px;
    margin-left: 90px;
    margin-right: 90px;
  }

  .imagem-p1 {
    margin-top: 20px;
    margin-left: 137px;
    margin-right: 137px;
    margin-bottom: 7px;
  }

  .imagem-p2 {
    margin-top: 28px;
    margin-bottom: 28px;
    margin-right: 152px;
    margin-left: 152px;
  }


  .imagem-p3 {
    margin-left: 156px;
    margin-right: 148px;
    margin-bottom: 13px;
    margin-top: 20px;
  }

  .imagem-p4 {

    margin-left: 117px;
    margin-bottom: 13px;
    margin-top: 20px;
  }



  .box-pg-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px 0px;

    width: 335px;
    height: 802px;

    background: #FAF8F5;
    border-radius: 25.6px;



    flex: none;
    order: 1;
    flex-grow: 0;
    position: relative;
  }

  .final-card {
    width: 461px;
    height: 424.81px;
    margin-right: 120px;
  }



}

@media screen and (min-width: 1440px) {
  .pg-1 {
    background-color: var(--light-bg);
    width: 100%;
    height: 100vh;
    top: 0;
  }

  /* formatação das variáveis de texto*/
  li,
  a,
  button,
  h1,
  h2 {
    font-family: "Satoshi", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
  }

  h4 {
    color: var(--purple-text);
  }

  p {
    font-family: "Satoshi", sans-serif;
  }

  /* top bar */
  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    top: 0;
    position: fixed;
    overflow: hidden;
    background-color: var(--light-bg);
    width: 100%;
    padding: 9px 0;
    padding-top: 30px;
  }

  #logo {
    cursor: pointer;
    margin-left: 112px;
    display: inline;
  }

  .nav-bar {
    list-style: none;
    justify-content: start;
  }


  .nav-bar li {
    display: inline;
    padding: 0px 20px;
    margin-top: 8px;
    float: right;
    align-items: center;
  }

  .nav-bar li a {
    transition: all 0.3s ease 0s;
    font-weight: bold;
  }


  h1.dark {
    color: var(--light-txt);
  }

  /* coloração da a da top-bar */
  .a-1 {
    color: var(--dark-txt);
  }

  /* definição padrão dos botoes */
  button {

    background-color: var(--dark-button);
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }


  /* Botão para a troca de cores */
  .btn-dark-mode {
    width: 45px;
    height: 45px;
    display: block;
    align-items: center;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 45px;
    right: 45px;
    border-radius: 50%;
    z-index: 200;
    transition: all 0.2s ease-out;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    border: 2px solid var(--dark-bg);
  }

  .btn-dark-mode img {
    width: 40px;
    height: 40px;

    vertical-align: middle;
    display: inline-block;
  }

  .btn-dark-mode:hover {
    transform: scale(1.1);
  }

  .dark-mode {
    width: 245px;
    height: 165px;
    padding: 25px;
    position: fixed;
    bottom: 115px;
    right: 65px;
    z-index: 100;
    display: none;
  }

  /* configuração para login e sign up  */
  .log-sig {
    padding: 9px 25px;
    display: inline-block;
  }

  .login {
    border: none;
    background-color: transparent;
    color: var(--dark-txt);
    font-weight: bold;
  }

  .register {
    color: var(--light-txt);
    margin-right: 112px;
  }

  .register:hover,
  .button-final:hover {
    background-color: var(--purple-text);
    color: var(--light-txt);
  }

  .login:hover,
  .Home:hover,
  .Terms:hover,
  .Privacy:hover {
    color: var(--purple-text);
  }

  .login:hover {
    color: var(--purple-text);
  }

  .menu-mobile {
    display: none;
  }

  .pg-1-1 {
    padding-top: 120px;
  }

  .page-1-container {
    width: 265px;
    display: flex;
    align-items: baseline;

    background: var(--light-content);
    margin-top: 64px;
    margin-left: 112px;
    border-radius: 20px;

  }

  .badage-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 10px 4px 4px;
    gap: 12px;

    width: 265px;
    height: 32px;

    /* Primary/50 */

    background: #F9F5FF;
    mix-blend-mode: multiply;
    border-radius: 16px;
  }


  .new {
    width: 35px;
    height: 20px;

    /* Text sm/Medium */
    background-color: var(--light-bg);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    text-align: center;
  }

  .badage-p {
    color: var(--purple-text);

  }

  .badage {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 10px;

    width: 55px;
    height: 24px;

    /* Base/White */

    background: #FFFFFF;
    mix-blend-mode: normal;
    border-radius: 16px;
  }

  .content {
    width: 164px;
    height: 20px;

    /* Text sm/Medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--purple-text);

  }

  .seta {
    margin-left: 7px;
  }

  .card-home {
    position: absolute;
    float: right;
    margin: 10px 0 30px 412px;
    top: 30px;
    left: 470px;
    width: 604.75px;
    height: 607.5px;
  }

  .text-home-container {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 2px;
  }

  .text-home {
    display: flex;
    font-size: 45px;
    width: 489px;
    height: 177px;
    display: table;
    margin-bottom: 24px;
    top: 10px;
  }

  .text-home:first-child {
    margin-left: 112px;
  }

  .p-text-home {
    margin-top: 24px;
    margin-bottom: 32px;
    margin-left: 110px;
    color: var(--gray-text-flyer);
    font-size: 20px;
  }

  .store {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 280px;
    cursor: pointer;
  }

  .store:first-child {
    margin-left: 112px;
  }

  .store:last-child {
    margin-left: 110px;
  }

  /* formatação dos footers */
  .footer-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 847.5px;

    width: 100%;
    height: 183.66px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
  }

  .footer-p {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    margin-right: 100px;
    float: right;
    position: absolute;
  }

  .footer-bar-1 {
    list-style: none;
    justify-content: center;
    margin-right: 170px;
  }

  .footer-bar-1 li {
    display: inline-block;
    padding: 0px 20px;
  }

  .text-footer-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Satoshi" sans-serif;
    padding-left: 0.9px;
    size: 15px;
    color: var(--gray-text);
  }

  /* formatação da pagina 2 */
  .pg-2 {
    background-color: var(--light-flyer);
    padding-bottom: 96px;
    width: 100%;
    width: 1440px;
    height: 962.3px;
  }

  .second-home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row-gap: 52px;
  }

  .title-home-2 {
    margin-top: 40px;
    font-size: 44px;
  }

  .container-pg2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

  }

  .aside-page-2 {
    display: flex;
    justify-content: center;

    box-shadow: rgba(68, 55, 0, 0.01);
    grid-column: 3;
  }

  .block {
    border: 5px solid transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin-right: 80px;
    padding-bottom: 60px;
    float: right;
  }

  .title-page-2 {
    size: 25px;
    margin-right: 107px;
    margin-top: 40px;
    margin-left: 100px;
    line-height: 58.05px;
  }

  .texto-page-2 {
    size: 16px;
    text-align: center;
  }

  .texto-page-2-1 {
    size: 16px;
    text-align: center;
    margin-bottom: 85px;

  }

  .dinheiro {
    margin-right: 54px;
    margin-left: 54px;
    margin-top: 40px;
    padding-bottom: 40px;
  }

  .pg-2-container-left {
    display: grid;
    grid-template-columns: 2fr 2fr;
    flex-direction: row;
    padding: 40px, 66px, 20px, 66px;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 1280px;
    height: 660.3px;
  }

  .prod {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 39.7282px 65.5516px 20px;
    gap: 31.29px;

    width: 408.05px;
    height: 316.3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
  }

  .title-pg-2-small {
    text-align: center;
    font-size: 24px;
    margin-top: 40px;
  }

  .title-pg2-med {
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
    line-height: 33.52px;
  }

  .text-pg-2 {
    text-align: center;
    font-size: 16px;
    line-height: 27px;
    margin-left: 90px;
    margin-right: 90px;
  }

  .imagem-p1 {
    margin-top: 20px;
    margin-left: 137px;
    margin-right: 137px;
    margin-bottom: 7px;
  }

  .imagem-p2 {
    margin-top: 28px;
    margin-bottom: 28px;
    margin-right: 152px;
    margin-left: 152px;
  }


  .imagem-p3 {
    margin-left: 156px;
    margin-right: 148px;
    margin-bottom: 13px;
    margin-top: 20px;
  }

  .imagem-p4 {

    margin-left: 117px;
    margin-bottom: 13px;
    margin-top: 20px;
  }

  .nav2-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    margin-top: 48px;
  }

  .footer-bar {
    list-style: none;
    justify-content: center;
  }

  .footer-bar li {
    display: inline-block;
    padding: 0px 20px;
  }

  /* formatação da pagina final */
  .pg-3 {
    background-color: var(--light-flyer);
    padding-top: 96px;
    padding-bottom: 96px;
  }


  .pg-3-container {
    display: flex;
    justify-content: center;
  }

  .box-pg-3 {
    width: 100%;
    max-width: 1360px;
    border-radius: 25px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 671px;
  }


  .final-title {
    margin-left: 32px;
    margin-top: 89px;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 58px;
    display: inline-block;

  }

  .final-txt {
    margin-bottom: 122px;
    margin-left: 32px;
  }

  .button-final {
    margin-bottom: 124px;
    padding: 18px 25px;
  }

  .final-card {
    width: 100%;
    margin-top: 50px;
    align-self: flex-end;
  }

  .final-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
}


.login.dark,
body.dark,
.pg-1.dark,
.pg-2.dark,
.pg-3.dark,
header.dark,
.pg-1-1.dark,
.Home.dark,
.Terms.dark,
.Privacy.dark {
  background-color: var(--dark-bg);
  color: var(--light-txt);
}

.a-1.dark,
.p-text-home.dark,
.final-title.dark {
  color: var(--light-txt);
}

.badage.dark {
  background-color: var(--purple-text);
  color: var(--light-txt);
}

button.dark {
  background-color: var(--light-txt);
  color: var(--gray-text-flyer);
}

.btn-dark-mode.dark {
  background-color: var(--light-txt);
  border: 2px solid var(--gray-text-flyer);
}

.register.dark,
.button-final.dark {
  background-color: var(--light-bg);
  color: var(--dark-txt);
}

.register.dark:hover,
.button-final.dark:hover {
  background-color: var(--purple-text);
  color: var(--light-txt);
}

.login.dark:hover,
.Home.dark:hover,
.Terms.dark:hover,
.Privacy.dark:hover {
  color: var(--purple-text);
}

.block.dark,
.pr-1.dark,
.pr-2.dark,
.pr-3.dark,
.pr-4.dark,
.box-pg-3.dark {
  background-color: var(--dark-flyer);
}

/*classes de utilidade*/

.purple-text {
  color: var(--purple-text);
}

.gray-text {
  color: var(--gray-text);
}

.dark-text {
  color: var(--dark-txt);
}

.gray-text-flyer {
  color: var(--gray-text-flyer);
}

.align-center {
  justify-content: center;
}

.purple-flyer {
  color: var(--purple-title-flyer);
}

.white-text {
  color: var(--light-txt);
}

.space-bottom {
  margin-bottom: 22px;
}

.final-left {
  margin-left: 32px;
}

.light-bg {
  background-color: var(--light-bg);
}